<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>email address activation</title>
    <style type="text/css">
        .container {
            padding: 24px;
        }
        .container p {
            font-size: 18px;
            margin-top: 16px;
        }
        .platform {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>_{email}_，</p>
        <p>欢迎加入<span class="platform"></span></p>
        <p>请点击下面的链接完成注册：Please click the following links to complete your registration:</p>
        <p>
            <a target="_blank" rel="noreferrer noopener" href="_{link}_">_{link}_</a>
        </p>
        <p style="margin-top: 36px;">--</p>
        <p>(如果链接无法点击，请将它拷贝到浏览器地址栏中；<span style="color: red;">这是一封系统发送的邮件，请勿回复。</span>)</p>
        <p>(If your cannot click the link, please copy it to your browser to visit; <span style="color: red;">Don't reply this Email.</span>)</p>
    </div>
</body>
</html>